<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="review" class="com.hcl.spring.jpa.h2.model.Review">


    </bean>

    <bean id="destination" class="com.hcl.spring.jpa.h2.model.Review">

    </bean>

    <bean id="recommendation" class="com.hcl.spring.jpa.h2.model.Review">


    </bean>

</beans>